.App {
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  background-color: rgb(28, 19, 39);
  color: white;
  height: 100vh;
  display: flex;
}
.bar{
  height: 100vh;
  width: 15vw;
  background-color: rgba(63, 61, 90, 0.5);
  font-family: 'Roboto Mono', monospace;
  padding: 2rem;
  font-weight: 300;
}


